.container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    height: 100px;
    width: auto;
    background-color: pink;
    display: flex;
    align-items: center; 
    justify-content: center;

}
.header h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar{
    height: 50px;
    background-color: purple;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center;
}
.navbar p{
    color: white;
}
.content{
    display: flex;
    background-color: aqua;
    height: 550px;
}
.content p{
    color: white;
    padding: 10px;
}
.footer{
    height: 50px;
    background-color: blue;
    display: flex;
    align-items: center; 
    justify-content: center;
}
